.button {
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Estilo Primário (padrão) */
.primary {
    background-color: var(--cor-primaria);
    color: var(--texto-primario);
}

.primary:hover {
    background-color: var(--cor-primaria-hover);
    transform: translateY(-2px);
}

/* Novo Estilo Outline */
.outline {
    background-color: transparent;
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

.outline:hover {
    background-color: var(--cor-primaria);
    color: var(--texto-primario);
    transform: translateY(-2px);
}