/* src/components/Navbar/Navbar.module.css */
.navbar {
    background-color: var(--cor-superficie);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--cor-borda);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo {
    height: 40px;
}

.logoText {
    /* Usando a nova fonte "Pacifico" que parece escrita à mão */
    font-family: 'Pacifico', cursive;
    color: var(--texto-primario);
    font-size: 1.8rem;
    /* Aumentei um pouco para dar mais destaque */
    font-weight: 400;
    /* Pacifico só tem o peso 400 */
}

.navLinks {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navLink {
    color: var(--texto-secundario);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navLink:hover,
.navLink.active {
    color: var(--cor-primaria);
}

.menuIcon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}