/* src/App.css */
.main-container {
  max-width: 1200px;
  margin: 2rem auto;
  /* 2rem de espaço no topo/baixo, centralizado nas laterais */
  padding: 0 1rem;
  /* Espaçamento interno para telas menores */
}