/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* Trocando Poppins/Nunito por uma fonte mais estilizada */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --cor-primaria: #C7384A;
  --cor-primaria-hover: #E04D5F;
  --cor-fundo: #121212;
  --cor-superficie: #1E1E1E;
  --cor-borda: #2F2F2F;
  --texto-primario: #EAEAEA;
  --texto-secundario: #A0A0A0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-fundo);
  color: var(--texto-primario);
}

a {
  color: var(--cor-primaria);
  text-decoration: none;
}

a:hover {
  color: var(--cor-primaria-hover);
}

/* --- ESTILOS DA BARRA DE ROLAGEM --- */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-borda);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}